  <p>
      <dx-button
        id="buttonClear"
        text="Clear"
        type="success"
        (click)="ClearLogs()">
      </dx-button>
      <dx-button
        id="buttonRefresh"
        text="Refresh"
        type="success"
        (click)="RefreshLogs()">
      </dx-button>
  </p>
<dx-tab-panel  #tabPanel0 id="tabPanel0" class="dx-tab-panel"
(onSelectionChanged)="selectTab($event)"
[(selectedIndex)]="selectedIndex"
*ngIf="logz"
>
  <dxi-item title="{{log.TabTitle}}" *ngFor="let log of logz">
    <div class="tabpanel-item" >
    </div>
  </dxi-item>
</dx-tab-panel>
<div #targetElem>
  <!-- [style.height.px]="[this.editorHeight]" -->
<ngx-monaco-editor class="code-editor"  [options]="this.options" [(ngModel)]="this.code" (onInit)="onInit($event)"></ngx-monaco-editor>
</div>


