# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#*.ex5
*.ex4
*.h5

/bin
/dist
/packages
/UpgradeLog.htm
/BusinessObjects/obj
/MainServer/obj
/XTradeConnector/obj
/UnitTests/obj
/BusinessObjects/gen-nodejs
/.vs
/BusinessLogic/obj/Debug
/BusinessLogic/obj/Release
/UnitTests/bin/Release
/ML/core/__pycache__

/BusinessLogic/bin/Debug/netcoreapp3.1
/BusinessObjects/bin/Debug/netcoreapp3.1
/BusinessLogic/bin/Release/netcoreapp3.1
/BusinessObjects/bin/Release/netcoreapp3.1
/MTLoader/obj/x64/Debug/netstandard2.0
/MTLoader/obj
/MQLConnector/obj
/MQLConnector/packages/DllExport.1.7.3
/MTLoader/packages/DllExport.1.7.3
BusinessLogic/bin/Debug/net5.0/BusinessLogic.deps.json
BusinessLogic/bin/Debug/net5.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/net5.0/BusinessObjects.pdb
BusinessLogic/bin/Debug/net5.0/ref/BusinessLogic.dll
BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
BusinessLogic/obj/project.assets.json
BusinessObjects/bin/Debug/net5.0/BusinessObjects.deps.json
BusinessObjects/bin/Debug/net5.0/BusinessObjects.pdb
BusinessObjects/bin/Debug/net5.0/BusinessObjects.dll
BusinessObjects/bin/Debug/net5.0/ref/BusinessObjects.dll
BusinessLogic/bin/Debug/net5.0/BusinessLogic.dll
BusinessLogic/bin/Debug/net5.0/BusinessObjects.dll
BusinessObjects/mono_crash.11a6748113.0.json
BusinessLogic/bin/Release/net5.0/BusinessLogic.deps.json
BusinessLogic/bin/Release/net5.0/BusinessLogic.dll
BusinessLogic/bin/Release/net5.0/BusinessLogic.pdb
BusinessLogic/bin/Release/net5.0/BusinessObjects.dll
BusinessLogic/bin/Release/net5.0/BusinessObjects.pdb
BusinessLogic/bin/Release/net5.0/ref/BusinessLogic.dll
BusinessLogic/obj/BusinessLogic.csproj.nuget.g.targets
BusinessLogic/obj/project.nuget.cache
BusinessObjects/bin/Release/net5.0/BusinessObjects.deps.json
BusinessObjects/bin/Release/net5.0/BusinessObjects.dll
BusinessObjects/bin/Release/net5.0/BusinessObjects.pdb
BusinessObjects/bin/Release/net5.0/ref/BusinessObjects.dll
BusinessLogic/obj/project.packagespec.json
BusinessLogic/obj/rider.project.restore.info
BusinessLogic/bin/Debug/net6.0/BusinessLogic.deps.json
BusinessLogic/bin/Debug/net6.0/BusinessLogic.dll
BusinessLogic/bin/Debug/net6.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/net6.0/BusinessObjects.dll
BusinessLogic/bin/Debug/net6.0/BusinessObjects.pdb
BusinessObjects/bin/Debug/net6.0/BusinessObjects.deps.json
BusinessObjects/bin/Debug/net6.0/BusinessObjects.dll
BusinessObjects/bin/Debug/net6.0/BusinessObjects.pdb
BusinessLogic/bin/Release/net6.0/BusinessLogic.deps.json
BusinessLogic/bin/Release/net6.0/BusinessLogic.dll
BusinessLogic/bin/Release/net6.0/BusinessLogic.pdb
BusinessLogic/bin/Release/net6.0/BusinessObjects.dll
BusinessLogic/bin/Release/net6.0/BusinessObjects.pdb
BusinessObjects/bin/Release/net6.0/BusinessObjects.dll
BusinessObjects/bin/Release/net6.0/BusinessObjects.deps.json
BusinessObjects/bin/Release/net6.0/BusinessObjects.pdb
BusinessLogic/bin/Debug/net7.0/BusinessLogic.dll
BusinessLogic/bin/Debug/net7.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/net7.0/BusinessObjects.dll
BusinessLogic/bin/Debug/net7.0/BusinessObjects.pdb
BusinessLogic/bin/Debug/net7.0/BusinessLogic.deps.json
BusinessLogic/obj/rider.project.model.nuget.info
BusinessObjects/bin/Debug/net7.0/BusinessObjects.pdb
BusinessObjects/bin/Debug/net7.0/BusinessObjects.dll
BusinessObjects/bin/Debug/net7.0/BusinessObjects.deps.json
BusinessObjects/bin/Release/net7.0/BusinessObjects.deps.json
BusinessLogic/bin/Debug/net8.0/BusinessLogic.deps.json
BusinessLogic/bin/Debug/net8.0/BusinessLogic.dll
BusinessLogic/bin/Debug/net8.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/net8.0/BusinessObjects.dll
BusinessLogic/bin/Debug/net8.0/BusinessObjects.pdb
BusinessLogic/bin/Release/net8.0/BusinessLogic.deps.json
BusinessLogic/bin/Release/net8.0/BusinessLogic.dll
BusinessLogic/bin/Release/net8.0/BusinessLogic.pdb
BusinessLogic/bin/Release/net8.0/BusinessObjects.dll
BusinessLogic/bin/Release/net8.0/BusinessObjects.pdb
BusinessObjects/bin/Debug/net8.0/BusinessObjects.deps.json
BusinessObjects/bin/Debug/net8.0/BusinessObjects.dll
BusinessObjects/bin/Debug/net8.0/BusinessObjects.pdb
BusinessObjects/bin/Release/net8.0/BusinessObjects.deps.json
BusinessObjects/bin/Release/net8.0/BusinessObjects.dll
BusinessObjects/bin/Release/net8.0/BusinessObjects.pdb
