<div>
  <app-dgauge #dgauge id="dgauge">

  </app-dgauge>
</div>

<div>
  <dx-data-grid #positionsContainer id="positionsContainer" [dataSource]="dataSource" [showBorders]="true"
    [columnHidingEnabled]="true" [repaintChangesOnly]="true" [highlightChanges]="true"
    (onCellClick)="onClickCell($event)" (onToolbarPreparing)="onToolbarPreparing($event)">
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column [width]="75" caption="Edit Pos" dataField="AccountName" alignment="left"
    cellTemplate="cellTemplatePos" [allowFiltering]="false" [allowSorting]="true">
      <div *dxTemplate="let data of 'cellTemplatePos'">
        <dx-button class="pos-edit-item" [width]="75">{{ data.value }}</dx-button>
      </div>
    </dxi-column>

    <dxi-column dataField="Role" caption="Role" [allowSorting]="true" groupIndex="0" sortOrder="desc"></dxi-column>

    <dxi-column dataField="Symbol" [allowSorting]="true" cellTemplate="symbolCellTemplate">
      <div *dxTemplate="let cell of 'symbolCellTemplate'" [class.inc]="cell.data.Type === 0" [class.dec]="cell.data.Type === 1">
        <span class="arrow"></span>
        <a [href]="this.deals.externChartURL(cell.value)" target="_blank" >
          <span class="current-value">{{cell.text}}</span>
          <span class="lots-value"> {{cell.data.Lots}}</span>
        </a>
      </div>
    </dxi-column>

    <!-- <dxi-column dataField="Lots" [allowSorting]="true" [hidingPriority]="2"></dxi-column> -->
    <dxi-column dataField="ProfitStopsPercent" caption="%" format="#0.##'%'" [allowSorting]="true"
      cellTemplate="priceCellTemplate" [hidingPriority]="3">
      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
    </dxi-column>
    <dxi-column [width]="75" dataField="Profit" caption="$" format="#0.##" [allowSorting]="true" cellTemplate="priceCellTemplate">
      <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
      <div *dxTemplate="let cell of 'priceCellTemplate'" [class.inc]="cell.data.Profit > 0"
        [class.dec]="cell.data.Profit < 0">
        <span class="current-value">{{cell.text}}</span>
      </div>
    </dxi-column>

    <dxi-column [width]="90" caption="Commands" cellTemplate="cellTemplateClose" [allowFiltering]="false"
      [allowSorting]="false" [hidingPriority]="4">
      <div *dxTemplate="let data of 'cellTemplateClose'">
        <dx-button [visible]="allowClosePositions(data.value)" text="Close" ></dx-button>
      </div>
    </dxi-column>


    <div *dxTemplate="let data of 'totalStat'">
      <div>
        <span [class.inc]="this.stat.TodayGainReal > 0" [class.dec]="this.stat.TodayGainReal < 0">Real:
          ${{this.stat.TodayGainReal}} </span>
        <span *ngIf="this.stat.TodayGainDemo !== 0" [class.inc]="this.stat.TodayGainDemo > 0" [class.dec]="this.stat.TodayGainDemo < 0">Demo:
          ${{this.stat.TodayGainDemo}} </span>
        <!-- <span>Risk: %{{(this.stat.RISK_PER_DAY*100).toFixed(2)}} %{{(this.stat.DAILY_MIN_GAIN*100).toFixed(2) }}
          %{{(this.stat.DAILY_LOSS_AFTER_GAIN*100).toFixed(2)}}</span> -->
      </div>
    </div>
  </dx-data-grid>
</div>
<div>
  <dx-data-grid #dealsContainer id="dealsContainer" [dataSource]="stat.Deals" keyExpr="Ticket" [showRowLines]="true"
    [columnHidingEnabled]="true" [showColumnLines]="false" [height]="500" [showBorders]="true">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxi-column dataField="AccountName" [allowSorting]="true" caption="Account" [width]="180" groupIndex="0">
    </dxi-column>
    <dxi-column dataField="CloseTime" [allowSorting]="true" format="datetime" [width]="160" [hidingPriority]="3"
      sortOrder="desc"></dxi-column>
    <dxi-column dataField="Ticket" [width]="120" [hidingPriority]="1"></dxi-column>
    <dxi-column dataField="Symbol" [allowSorting]="true" cellTemplate="symbolDealCellTemplate">
    </dxi-column>
    <dxi-column dataField="Lots" alignment="left" format="#0.##" [width]="120" [hidingPriority]="2"></dxi-column>
    <dxi-column dataField="Profit" [allowSorting]="true" [width]="120" format="#0.##"></dxi-column>

    <div *dxTemplate="let cell of 'symbolDealCellTemplate'" [class.inc]="cell.data.Type === 1"
      [class.dec]="cell.data.Type === 0">
      <span class="arrow"></span>
      <span class="current-value">{{cell.text}}</span>
    </div>
  </dx-data-grid>
</div>

<dx-popup
width="100%"
height="100%"
showTitle="true"
[title]="getCurrentTitle()"
[closeOnOutsideClick]="true"
[dragEnabled]="false"
[(visible)]="showProperties">
    <dxo-position
        my="center"
        at="center"
        of="#targetElement">
    </dxo-position>
    <dx-button text="Save" (onClick)="onSave()"></dx-button>
    <dx-button text="Close" (onClick)="onClose()"></dx-button>
    <dx-scroll-view #scrollView id="scrollview" scrollByContent="true" showScrollbar="always">
        <app-properties #propsContainer [(parentVisible)]="showProperties">
        </app-properties>
    </dx-scroll-view>
</dx-popup>
