<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net47" />
  <package id="Autofac" version="4.9.4" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net47" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net47" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Database.Collections.Generic" version="1.9.4" targetFramework="net47" />
  <package id="Microsoft.Database.Isam" version="1.9.4" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NHibernate" version="5.2.6" targetFramework="net48" />
  <package id="Quartz" version="3.0.7" targetFramework="net47" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>